<tr>
    <td class="align-middle">
        <img src="@($"images/{Employee.EmployeeId}-small.jpg")" class="rounded-circle"/>
    </td>
    <td class="align-middle">@Employee.EmployeeId</td>
    <td class="align-middle">@Employee.FirstName</td>
    <td class="align-middle">@Employee.LastName</td>
</tr>